<!doctype html>
<html>
	<head>
		<title>Wanand's Way</title>
		<meta charset="utf-8"/>
		<script src="https://pixijs.download/release/pixi.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<style>
			@font-face {
				font-family: 'Dogica';
				src: url('fonts/dogica/dogicabold.ttf');
				font-weight: bold;
			}
			@font-face {
				font-family: 'Dogica';
				src: url('fonts/dogica/dogica.ttf');
			}
			* {
				margin: 0;
				padding: 0;
				overflow: hidden;
				font-family: 'Dogica';
			}
		</style>
	</head>
	<body>
		<div id='console'></div>
		<!-- <p style="font-family: Dogica">ayo</p> -->
		<!-- <p style="font-family: DogicaBold">ayo</p> -->
		<script type="module" src="src/wanandsway.js"></script>
	</body>
</html>